.app {
    height: 100vh;
}

.new_quote_btn {

    position: fixed;
    right: 50%;
    bottom: 10px;
    transform: translate(50%);

}

.quote_display {

    margin-top: 20vh;
}

.panel {

    text-align: left;
    font-size: 1.75rem;
}